{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/theonepage/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/theonepage/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/theonepage/images/favicon-16x16.png">
    <link rel="manifest" href="/static/theonepage/images/site.webmanifest">
    <link rel="mask-icon" href="/static/theonepage/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/theonepage/images/favicon.ico">
    <link type="text/css" href="{% static 'theonepage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'theonepage/css/styles.css' %}" rel="stylesheet">
    <title>Как правильно принимать витамины?</title>
</head>
<body class="gradient">
    <div class="container">
        <div class="row mt-5 py-5">
            <div class="col-lg-4 col-sm-3"></div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="/static/theonepage/images/vit3.jpg" alt="витамины" class="img-fluid label">
            </div>
            <div class="col-lg-4 col-sm-3"></div>
        <div class="row py-3">
            <div class="col-12">
                <h2 class="text-center color_font">Как правильно принимать витамины?</h2>
                <h6 class="text-center color_font">Подпишись на телеграм-канал о здоровье<br />и получи гайд по приёму витаминов бесплатно.</h6>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-4 col-sm-3"></div>
            <div class="col-lg-4 col-sm-6 text-center">
                <a href="https://t.me/persik_health" class="btn btn_self btn-lg">Получить гайд в Телеграм</a>
            </div>
            <div class="col-lg-4 col-sm-3"></div>
        </div>

    </div>

    <script src="{% static 'theonepage/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
